body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    background-color: rgb(216, 211, 186); 
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 

}

#title {
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#website-description {
    font-size: 16px;
    margin-top: auto;
    text-align: center; 
    margin-bottom: 20px;
}

#tickerInput {
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    width: 145px;
    margin-left: auto;
    margin-right: auto;
}

#image {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    width: 140px;
}

#image2 {
    width: 60%;
    border: 2px solid #000000;
}

footer {
    margin-top: auto; 
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
}

.output {
    justify-content: center;
    margin: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 90%;
}

.table {
    justify-content: center;
    text-align: center;
    margin: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
    width:auto;
    max-width:80%;
}

.table-caption {
    font-size: 30px;
    font-weight: bold;
}

#company-title {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

#summaryBox {
    width: auto;
    border: 1px solid #000000; /* Border style */
    padding: 20px; /* Padding inside the box */
    margin: 10px auto; /* Margin around the box */
    background-color: #e5e5ec;
}

.base-container {
    display: flex; /* Use flexbox layout */
    flex-grow: 1; /* Expand to fill available space */
    justify-content: flex-start; /* Align content to the left */
}

.content {
    flex: 1; /* Take up remaining space */
    margin-top: 70px;
    margin-bottom: 50px;
    padding-right:10%;
    padding-left:2%;
    max-width:60%;
}

.sidebar {
    width: 30%;
    margin-left:5%;
    max-width: 452px;
}

#tickerFormContainer, #compareButtonContainer {
    margin-bottom: 20px; /* Add some space between elements */
}

.table-separator {
    margin-bottom: 20px; /* Adjust the margin to your desired spacing */
}

table {
    width: 100%; /* Make the table take up 100% of the container's width */
    border-collapse: collapse; /* Collapse borders for better appearance */
    position: relative;
}

th, td {
    border: 1px solid #ccc; /* Add borders for visualization */
    padding: 8px; /* Add padding for spacing */
}

th:first-child,
td:first-child {
    position: sticky; /* Make the first column sticky */
    left: 0; /* Stick to the left edge of the container */
    background-color: #f2f2f2; /* Add background color for better visibility */
    z-index: 1; /* Ensure it stays above other cells */
}
.switch {
    position: relative;
    display: inline-block;
    width: 180px; /* Increase width to provide more room for the text */
    height: 34px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* White with transparency */
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Increase padding for more space */
    box-sizing: border-box;
    color: #333; /* Text color */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 80px; /* Increase width to match the increased switch width */
    left: 4px;
    bottom: 4px;
    background-color: rgba(173, 216, 230, 0.8); /* Light blue with transparency */
    transition: .4s;
    border-radius: 30px;
    z-index: 1; /* Ensure it's above the text */
}

.slider .slider-text {
    font-size: 14px; /* Adjust font size if needed */
    position: relative; /* Ensure z-index works */
    z-index: 2; /* Ensure it's above the moving part of the button */
    color: #000000; /* Text color */
}

input:checked + .slider:before {
    transform: translateX(80px); /* Adjust translation to match the new width */
}

.slider .slider-text {
    font-size: 14px; /* Adjust font size if needed */
}


.dropdown-title {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    position: relative; /* Ensure position is relative for pseudo-element */
    text-align: center;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2; /* Set a higher z-index value */
}

/* Define styles for dropdown items */
.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    display: block;
}
/* Modal styles */
#customAlertOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#customAlertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    max-width: 80%; /* Ensure the box does not exceed 80% of the viewport width */
    max-height: 80%; /* Ensure the box does not exceed 80% of the viewport height */
    overflow: auto; /* Enable scrolling if the content is too large */
}

#customAlertBox h2 {
    margin-top: 0;
}

#customAlertBox pre {
    margin-bottom: 10px;
    white-space: pre-wrap; /* Wrap text within the pre element */
    word-wrap: break-word; /* Break long words to fit the container */
}
/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    html, body {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    body {
        position: fixed;
        overflow-y: scroll;
    }
    .base-container {
        flex-direction: column;
    }
    .content {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-right:0%;
        padding-left:0%;
        max-width:100%;
    } 
    .sidebar {
        width: 100%; /* Take up the full width */
        margin-left: 0%;
        max-width:100%;
    }
    #image2 {
        width:0px;
        border: 0px solid #000000;
    }
    #summaryBox {
        max-width: 98%;
        font-size: 11px;
    }
    .output {
        justify-content: center;
        overflow-x: auto; /* Enable horizontal scrolling */
        max-width: 98%;
    }
    .table-caption {
        position: sticky; /* Make the first column sticky */
        top: 0; /* Stick to the left edge of the container */
        left:0;
        font-size: 20px;
        font-weight: bold;
    }
    table {
        width: 100%; /* Make the table take up 100% of the container's width */
        border-collapse: collapse; /* Collapse borders for better appearance */
        position: relative;
        font-size: small;
    }
    th, td {
        border: 1px solid #ccc; /* Add borders for visualization */
    }
}
